<!DOCTYPE html>

<head>
  {% load widget_tweaks %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css" integrity="sha384-y5b5HT5v%2Bj9kH%2F1b2JrK%2BsczBE%2FGZJqWE3nI6jAil9XyRrR1zJQrjEYr29IeZp" crossorigin="anonymous">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqgrid/4.6.0/js/i18n/grid.locale-en.js"></script>
  
  <!-- Include jQuery and Bootstrap Datepicker JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js" integrity="sha384-cTzlw7oy8gjxRZsptUB2h4Fc4dmpX9y0lFaii7P%2BywQa7eZfy%2B6iVcPFvP8EM7V" crossorigin="anonymous"></script>

  <title>{% block title %}{% endblock %}</title>
</head>
<html>
<body>
  {% block content %}
  {% endblock %}

</body>
</html>