{% extends 'base_entry.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}

<h5>Create New Client</h5>
<div class="container">

<form method="POST" class="card mt-0 form-floating form-horizontal form-group">
  {% csrf_token %}
  {{ form.media }} 

  <div class="row">
    <div class="col-md-3"><b>Add / Update Client</b>
    </div>
    <div class="col-md-6"> </div>
    <div class="col-md-3">    <button type="submit" class="btn btn-primary" style="font-size: 20px;">Save Form</button> </div>
  </div>


  <div class="row">
    <div class="col-md-3"> <b>{{ form.last_name|as_crispy_field }}</b></div>
    <div class="col-md-3"> <b>{{ form.first_name|as_crispy_field}}</b></div>
    <div class="col-md-3"> {{ form.middle_name|as_crispy_field}}</div>
    <div class="col-md-3"> {{ form.pet_name|as_crispy_field}}</div>
  </div>
  
  
  <div class="row">
    <div class="col-md-3"> {{ form.sex_at_birth|as_crispy_field }}</div>
    <div class="col-md-3">
    <div class="form-group">
      <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
        {{ form.date_of_birth|as_crispy_field }}
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </div>
      </div>
    </div>    </div>

    <div class="col-md-3"> {{ form.age|as_crispy_field}}</div>
    <div class="col-md-3"> {{ form.occupation|as_crispy_field}}</div>
          </div>
  </div>
  


 <div class="row">
   
    <div class="col-md-3"> </div>

    <div class="col-md-7"></div>
  
    <div class="col-md-2">    <button type="submit" class="btn btn-primary" style="font-size: 20px;">Save Form</button> </div>
  </div>
        
      {{ form.your_date_field.errors }}
        </div>
    
    </form>


<script>
  $(document).ready(function() {
    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      todayHighlight: true,
      endDate: '-1d' 
    });
    $('input[data-date-format]').each(function() {
      $(this).datepicker('setDate', $(this).val());
    });
  });
</script>
{% endblock %}

<!-- client/edit_client.html -->

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
  